<ion-view view-title="Login">
    <ion-content>
        <h1>Login</h1>
        <form ng-submit="doLogin()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Login</span>
                    <input type="text" ng-model="loginData.login">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="loginData.password">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Log in</button>
                </label>
            </div>
        </form>
        <div>
            <span>{{error}}</span>
        </div>
        <div class="item">
            <button class="button button-block button-cancel" ng-click="goToSignUp()">Signup</button>
        </div>
    </ion-content>
</ion-view>
